@using WebApplication1.Models
@using WebApplication1.Services
@using WebApplication1.Components
@using Microsoft.AspNetCore.Components.Web
@inject googleSheetsListService ListService
@inject userIdService UserIdService

@using Blazored.Toast
@using Blazored.Toast.Services
@inject IToastService toastService

@inherits Login

<BlazoredToasts Timeout="5"
                ShowProgressBar="true"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-bar-chart" />


<h2>My List</h2>
<table>
    <tr>
        <th width="400">Item</th>
        <th>Link</th>
        <th width="200">Date Added</th>
        <th width="50"></th>
        <th width="50"></th>
    </tr>
    @foreach (ItemModel item in myList)
    {
        @if (@item.ItemId == editItemId)
        {
            <tr>
                <td> <form> <input type="text" @bind="@item.Item" onclick="this.select();" /> </form> </td>
                <td><form>  <input type="text" @bind="@item.Link" onclick="this.select();" size="15" /> </form></td>
                <td></td>
                <td>    <button @onclick="() => submitEditItem(item)">Save</button> </td>
                <td> </td>
            </tr>
        }
        else
        {
            <tr>
                <td>@item.Item</td>
                <td><a href="@item.Link" target="_blank"> @item.Link</a></td>
                <td>@item.DateUpdated</td>
                <td>    <button @onclick="() => editItem(item)">Edit</button> </td>
                <td>    <button @onclick="() => deleteItem(item)">Delete</button> </td>
            </tr>
        }
    }
</table>
<br />
<div>
    Add Item: <form>
        <input type="text" @bind="newItemItem" onclick="this.select();" />
        <input type="text" @bind="newItemLink" onclick="this.select();" size="15" />
    </form>
    <button @onclick="addItem">Add</button>
</div>

<hr />
<h3>Notes to Share:</h3>
@if (editNotesFlag == 0)
{
    <p> @myNotes </p>
    <button @onclick="editNotes">Edit Notes</button>
}
else
{
    <textarea cols="40" rows="5" @bind="newNotes"></textarea>
    <button @onclick="submitEditNotes">Save Notes</button>
}


@code
{

    public dynamic myList => ListService.GetMyList(UserIdService.userId);

    public dynamic myNotes => ListService.Users_GetList().FirstOrDefault(u => u.Name == UserIdService.userId).Notes;

    public string newItemItem = "New Item";
    public string newItemLink = "Link (Optional)";

    public int editItemId = 0;
    public int editNotesFlag = 0;
    public string newNotes = "";

    public void editNotes()
    {
        newNotes = myNotes;
        editNotesFlag = 1;
    }
    public void submitEditNotes()
    {
        ListService.UpdateNotes(UserIdService.userId, newNotes);
        editNotesFlag = 0;
        toastService.ShowSuccess("Saved Notes");
    }
    public void addItem()
    {
        System.Console.WriteLine($"Added: {newItemItem}");

        if (newItemLink.Equals("Link (Optional)")) { newItemLink = ""; }

        ListService.AddItem(UserIdService.userId, newItemItem, newItemLink);
        toastService.ShowSuccess("Added " + newItemItem + "!");

        newItemItem = "New Item";
        newItemLink = "Link (Optional)";

    }
    public void editItem(ItemModel item)
    {
        editItemId = item.ItemId;
    }
    public void submitEditItem(ItemModel item)
    {
        ListService.UpdateItem(item.ItemId, item.Item, item.Link);
        editItemId = 0;
        toastService.ShowSuccess("Saved " + item.Item + "!");
    }
    public void deleteItem(ItemModel item)
    {
        ListService.DeleteItem(item.ItemId);
        toastService.ShowSuccess("Saved " + item.ItemId + "!");
    }

}